%h1 Listing tasks

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= link_to 'Show', task
        - if current_user.has_cached_role?(:editor, Task)
          %td= link_to 'Edit', edit_task_path(task)
        - if current_user.has_cached_role?(:cleaner, Task)
          %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if current_user.has_cached_role?(:creator, Task)
  = link_to 'New Task', new_task_path
