= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  %h3
    = @user.email

  %fieldset
    %legend User Roles
    - Role::RESOURCES.each do |resource|
      %p
        = resource.to_s
        = f.label(resource.to_s) do
          - Role::RESOURCE_ROLES.each do |role|
            = role
            = check_box_tag("user[permissions][#{resource.to_s.underscore}][#{role}]", 1, @user.has_cached_role?(role, resource))

  %p
    .actions
      = f.submit 'Save'
