%h1 Listing projects

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to 'Show', project
        - if current_user.has_cached_role?(:editor, Project)
          %td= link_to 'Edit', edit_project_path(project)
        - if current_user.has_cached_role?(:cleaner, Project)
          %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if current_user.has_cached_role?(:creator, Project)
  = link_to 'New Project', new_project_path
