!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title AdminPermissionsApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    %p
      = render 'devise/menu/login_items'
    %p
      = link_to 'Projects', projects_path
      = link_to 'Tasks', tasks_path
      - if current_user.is_root?
        = link_to 'Users', users_path
    = yield
